* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
}

.center {
  padding-left: calc(50% - 625px);
  padding-right: calc(50% - 625px);
}

.heading {
  text-align: center;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  font-size: 35px;
  letter-spacing: 2px;
  font-variant: small-caps;
  color: #000000;
}

.indent {
  padding-top: 10px;
  padding-bottom: 40px;
}

.burger {
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 28px;
}
.menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  transition: 0.3s;
}
.menu__link_active {
  color: #2196F3;
}
.menu__link:hover {
  color: #2196F3;
  transition: 0.3s;
}

.top {
  background-color: #F0F4FC;
}
.top__name {
  padding-bottom: 10px;
  display: grid;
  align-content: space-evenly;
}
.top__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.top__content {
  padding-top: 50px;
  padding-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.top__heading_name {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #857979;
}
.top__heading {
  margin-bottom: 20px;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000000;
}
.top__heading_veb {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #857979;
}
.top__line {
  margin-left: 65px;
  border: 1px solid #A9A9B5;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.top__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #857979;
  max-width: 485px;
  margin-bottom: 60px;
}
.top__contact {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.top__contacts_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #000000;
  transition: 0.3s;
}
.top__contacts_link:hover {
  color: #2196F3;
  transition: 0.3s;
}

.info {
  padding-top: 50px;
}
.info__title {
  display: grid;
  grid-template-columns: 350px 550px 350px;
  align-items: center;
  justify-items: center;
}
.info__about_title {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.about__container {
  position: relative;
  text-align: center;
  color: white;
}
.about__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2196F3;
  font-size: 35px;
  font-family: Spectral;
  font-style: normal;
  font-weight: 700;
  font-variant: small-caps;
  line-height: 65px;
  letter-spacing: 2px;
  max-width: 500px;
}
.about__text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
  width: 600px;
}

.services {
  background-color: #F0F4FC;
  padding-bottom: 70px;
  padding-top: 20px;
}
.services__contents {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.services__service {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #000000;
  gap: 10px;
  padding-bottom: 20px;
}
.services__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-align: justify;
  color: #000000;
}

.portfolio {
  padding-top: 20px;
  padding-bottom: 70px;
}
.portfolio__slide {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}
.portfolio__img {
  transition: 0.6s;
}
.portfolio__img:hover {
  transform: scale(1.2);
  transition: 0.6s;
}

.contacts {
  background-color: #F0F4FC;
  padding-top: 20px;
  padding-bottom: 70px;
}
.contacts__content {
  display: flex;
  justify-content: center;
  gap: 110px;
  margin-top: 30px;
}
.contacts__text {
  max-width: 470px;
  text-align: justify;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #000000;
}
.contacts__form {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.contacts__input {
  height: 45px;
  width: 250px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}
.contacts__input_textarea {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  height: 120px;
  grid-column: 1/-1;
  resize: none;
}
.contacts__button {
  padding: 7px;
  background: #FFffff;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  grid-column: 1/-1;
  color: #2196F3;
  height: 45px;
  border: 2px solid #2196F3;
  transition: all 0.3s;
  cursor: pointer;
}
.contacts__button:hover {
  background-color: #2196F3;
  color: #fff;
}
.contacts__box {
  display: flex;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.contacts__call {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contacts__img {
  transition: 0.3s;
}
.contacts__img:hover {
  transform: rotate(3deg) translate(5px);
  transition: 0.3s;
}
.contacts__call_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 10px;
  letter-spacing: 2px;
  font-variant: small-caps;
  color: #000000;
  transition: 0.3s;
}
.contacts__call_link:hover {
  color: #2196F3;
  transition: 0.3s;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-row-gap: 5px;
  justify-content: center;
  justify-items: center;
}
.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #857979;
}

.center {
  padding-left: 16px;
  padding-right: 16px;
}/*# sourceMappingURL=style.css.map */